@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Reset Css */

table {
	border-collapse: collapse;
	border-spacing: 0;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
}

body
{
    background-color: rgb(237, 249, 254);
    color: rgb(0, 28, 85);
    /* overflow-x: hidden; */
}
.header
{
    width: 90%;
    /* background-color: blue; */
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.name-div
{
    width: 30%;

    /* background-color: green; */
    /* margin-top: 15px; */

}
.name
{
    text-decoration: none;
    color: rgb(0, 28, 85);
    height: 100%;
    width: 73%;
    /* background-color: aqua;    */
    display: flex;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
}
a > span
{
    font-family: "Pacifico", serif;
    /* background-color: aqua; */
}
.name:hover
{
    text-decoration: none;
    color: black;
}
.navigation
{
    /* background-color: yellow; */
    width: 75%;
    height: 100%;
    display: flex;
    column-gap: 5px;
    font-weight: 600;
    font-size: medium;
    line-height: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    list-style-type: none;
    /* margin: 0 auto; */


}
.nav-link
{
    /* height: 100%; */
    /* background-color: purple; */
    cursor: pointer;
    padding: 13px;
}
.nav-link:hover
{
    background-color: rgb(166 225 249);
}
.active
{
    background-color: rgb(166, 225, 249);  
}

.home
{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.about-section
{
    display: flex;
    margin: 0 5%;
    column-gap: 20px;
    /* background-color: gray; */
}
.about
{
 width: 50%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 row-gap: 10px;
   
}
.image-div
{
    width: 45%;
}
.svg
{
    width: 100%;
    height: 95%;
    /* background-color: rgb(165, 164, 164); */
    border-radius: 10px;
    padding: 10px;

}
.my_name
{
    font-weight: 800;
}
.nickname
{
    font-weight: 600;
}
.description
{
 font-size: large;
 word-spacing: 6px; 
 font-weight: bold;
 opacity: .7;
 line-height: 35px;  
}
.social-media-div
{
    display: flex;
    column-gap: 10px;
    /* background-color: purple; */
    /* width: 70%; */
}
.socials
{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}
.socials:hover
{
    background-color:rgb(0, 28, 85)
}
.icon
{
    font-size: 150%;
    color: white;
}
a:hover
{
color: white;
}
.icon i:hover
{
    color: white;
}
.github
{
    background-color: rgb(24, 23, 23);
}
.instagram
{
    /* color: black; */
    background-color: rgb(228, 64, 95);
}
.facebook
{
    background-color: rgb(24, 119, 242);
}
.twitter
{
    background-color: rgb(29, 161, 242);
}
.gmail
{
    background-color: rgb(209, 72, 54);
}
.youtube
{
    background-color: rgb(255, 0, 0);
}
.linkedin
{
    background-color: rgb(0, 119, 181);
}

.button-div
{
    height: 60px;
    /* width: 70%; */
    /* background-color: purple; */
    display: flex;
}
.button
{
    height: 50px;
    width: 45%;
    color: white;
    background-color: rgb(0, 28, 85);
    border: 1px solid rgb(0, 28, 85);
    transition: .5s;
    padding: 15px 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    text-align: center;
    font-size: large;
}
.button:hover
{
    background-color: rgb(237, 249, 254);
    color: rgb(0, 28, 85);
}

.what-i-do-section
{
    width: 100%;
    height: 500px;
    /* background-color: red; */
    margin-top : 30px;

}
.do-section
{
    margin-top: 30px;
    /* background-color: red; */
    /* height: 300px; */
    width: 100%;
}
.what-i-do
{
    /* height: 100%; */
    /* width: 100%; */
    background-color: yellow;
    text-align: center;
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
}
.nav-link a
{
    color: rgb(0, 28, 85);

}

.do-div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.i-do-title
{
    font-weight: 800;
    /* background-color: palegreen; */
}
.i-do-description
{
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
}
.section-data
{
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    /* align-items: center; */
    /* background-color: blue; */
}
.section-title
{
    font-weight: bold;
    /* text-align: center; */
}
.stack-icons
{
    /* background-color: yellow; */
    width: 100%;
    display: flex;
    column-gap: 20px;
    justify-content: center;
    
}
.stack-icons > i
{
    font-size: 60px;
    
}
.web > i:nth-child(1)
{
    color: rgb(227, 79, 38);
}
.web > i:nth-child(2)
{
    color: rgb(21, 114, 182);
}
.web > i:nth-child(3)
{
    color: rgb(204, 102, 153);
}
.web > i:nth-child(4)
{
    color: rgb(0, 0, 0);
    background-color: rgb(247, 223, 30);
}
.web > i:nth-child(5)
{
    color: rgb(97, 218, 251);
}
.leetcode
{
    -ms-transform: rotate(360deg); 
    -webkit-transform: rotate(360deg); 
    transform: rotate(360deg);
    color: rgb(247, 159, 27);
}
.kaggle
{
    -ms-transform: rotate(360deg); 
    -webkit-transform: rotate(360deg); 
    transform: rotate(360deg);
    color: rgb(32, 190, 255);  
}
.text
{
    font-size: large;
    font-weight: bold;
    opacity: .7;
    line-height: 25px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: yellow; */
    padding: 10px;
    margin-top: 10px;
}
.arrow
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    background-color: rgb(0, 28, 85);
    color: rgb(237, 249, 254);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 47%;
    visibility: hidden;
    z-index: 1;
}
.footer
{
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: "Merriweather", serif;
}

/* Contact Page CSS */


.contact
{
    width: 100%;
    padding: 0 5%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.contact-me
{
    width: 100%;
    
    /* background-color: yellow; */
}
.contact-me-div
{
    width: 100%;
    display: flex;
    justify-content: space-between;

    /* background-color: blue; */
}
.my-photo-div
{
    width: 45%;
    height: 500px;
    padding: 20px;
}
.my-photo
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid black;

}
.contact-desc-div
{
    width: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    padding: 50px 0;
}
.resume
{
    width: 100%;
    padding: 10px 20px;

}
.blogs
{
    width: 100%;
}
.blogs-div
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.blogs-img-div
{
    width: 45%;
    order: 2;
}
.blogs-desc-div
{
    width: 45%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    /* background-color: yellow; */
    
}
.blog-btn
{
    width: 100%;
    padding: 10px 20px;
    margin: 0;
}

/* Open Source Section */


.opensource
{
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: yellow; */


}

/* Education Section CSS */

.education
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    /* background-color: yellow; */
}
.education-titles
{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;

}
.certification-title
{
    font-weight: 600;
    margin-top: 20px;
}
.degrees
{
    height: 500px;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.degree
{
    width: 80%;
    /* background-color: royalblue; */
    display: flex;
    column-gap: 7px;
    /* justify-content: space-between; */
}
.degree-title
{
    margin-bottom: 20px;
}
.degree-img-div
{
    display: flex;
    align-items: center;
}

.degree-img
{
    /* margin-top: 20px; */
    border-radius: 50%;
    /* background-color: brown; */
    margin-right: 5px;
    box-shadow: 5px 5px 5px #549f54;
}

.table
{
   /* background-color: #549f54; */
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    /* height: 300px; */
}
th:nth-child(1)
{
    background-color: rgb(133 183 213);
    color: rgb(0, 28, 85);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.institution
{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
    /* background-color: rgb(133 183 213);
    color: rgb(0, 28, 85); */
}
.institution-btn
{
   border-radius: 7px;
   padding: 10px;
   color: rgb(0, 28, 85);
   background-color: rgba(14, 107, 168, 0.467);
   cursor: pointer;
    transition: .3s;
}
.institution-btn:hover
{
    background-color:rgb(237, 249, 254);

}


/* Certifications Section */
.certifications
{
    background-color: yellow;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 0 10%;
}
.certification{
    width: 30%;
    height: 200px;
    background-color: red;

}